:root{
	--SPACE-04: 12px;
	--SPACE-05: 16px;
	--SPACE-03: 8px;
	--BODY2-MEDIUM-HEIGHT: 24px;
	--BODY2-MEDIUM-WEIGHT: 500;
	--BODY2-MEDIUM-SIZE: 16px;
	--ON-SURFACE-DEFAULT: #e1e6f0;
	--RADIUS-03: 8px;
	--RADIUS-04: 12px;
	--BACKGROUND-BRAND-GRADIENT: linear-gradient(93.87deg, #095AE6 0%, #043EC7 100%);
	--ON-BRAND_DEFAULT: #d1e8ff;
	--BUTTON1-SEMIBOLD-SIZE: 18px;
	--BUTTON1-SEMIBOLD-WEIGHT: 500;
	--ELEVATION-2: 2;
	--BORDER-COLOR_L0: #4b5166;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src:
	  local(''),
	  url('./../fonts/Inter/latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* inter-500 - latin */
  
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src:
	  local(''),
	  url('./../fonts/Inter/latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* inter-600 - latin */
  
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src:
	  local(''),
	  url('./../fonts/Inter/latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	background: #000000;
}
body{
	color: rgb(255, 255, 255);
}

.main{
	display: flex;
	height: 100%;
}
#root{
	height: 100%;
}

.container{
	flex-grow: 1;
	padding: 2em;
	background-size: cover;
	background-color: #000000;
	background-position: center;
	display: flex;
	background: linear-gradient(180deg, #09194D 0%, #0F1014 33.33%);;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-left: 20%;
}
.title{
	font-size: 3em;
}
.info{
	font-size: 1.1em;
	letter-spacing: 1px;
	line-height: 1.5;
	margin: 1.5em;
	color: rgb(224, 224, 224);
}
.btn{
	margin: auto;
	margin-top: 30px;
	align-items: center;
	border-width: 0;
    border-radius: var(--RADIUS-03);
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    padding: var(--SPACE-04) var(--SPACE-05);
    position: relative;
	background: var(--BACKGROUND-BRAND-GRADIENT);
    width: stretch;
	transition-property: transform,background-color,-webkit-transform;
    transition: padding-right .3s ease-out;
}
.ON_BRAND{
	color: var(--ON-BRAND_DEFAULT);
}
.BUTTON1_SEMIBOLD{
	font-size: var(--BUTTON1-SEMIBOLD-SIZE);
    font-weight: var(--BUTTON1-SEMIBOLD-WEIGHT);
    line-height: var(--BUTTON1-SEMIBOLD-HEIGHT);
}

.sidebar{
	width: 260px;
	flex-shrink: 0;
	background-color: rgba(22, 22, 22, 1);
	height: 100%;
	overflow: auto;
}
.btn:hover{
	cursor: pointer;
}

.sidebar-item{
	padding: 25px 0 0 30px;
	display: block;
	transition: background-color .15s;
	border-radius: 5px;

}
.sidebar-item:hover{
	cursor: pointer;
}

.sidebar-title{
	display: flex;
	font-size: 1.2em;
	justify-content: space-between;
	cursor:pointer;
}
.sidebar-title span i{
	display: inline-block;
	width: 1.5em;
}
.sidebar-title .toggle-btn{
	color:rgb(224, 224, 224);
	cursor: pointer;
	transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
	transform: rotate(180deg);
}
.sidebar-content{
	padding-top: .25em;
	height: 0;
	overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
	height: auto;
}

.sidebar-item.plain{
	color: #fff;
	text-decoration: none;
}
.sidebar-item.plain:hover{
	text-decoration: underline;
}
.sidebar-item.plain i{
	display: inline-block;
	width: 1.7em;
}
.sidebarClass{
	/* background: rgba(255, 255, 255, 0.08); */
	background: #16181F;
	position: fixed;
    width: 20%;
    height: 100%;
	overflow-y: scroll;
	z-index: 1;
	padding-bottom: 5%;
}
.Title-1{
	font-family: 'Inter';
	font-style: normal;
	/* font-weight: 600; */
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.2px;
}
.Title-2{
	font-family: 'Inter';
	font-style: normal;
	/* font-weight: 600; */
	font-size: 20px;
	line-height: 28px;
	/* identical to box height, or 140% */
	letter-spacing: -0.2px;
}
.Body-1-Medium{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
}
.Body-2-Medium{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
}
.Body-3-Regular{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
.Body-3-Medium{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}
.Input{
	text-align: left;
}
input {
	writing-mode: horizontal-tb !important;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
	border: 1px solid;
	border-radius: var(--RADIUS-03);
	border-color: var(--BORDER-COLOR_L0);
	background: transparent !important;
	margin-left: 25px;
	height: 57.5px;
	width: 274px;
	color: #ffffff;
	padding: 20px;
	font-size: 16px;
	font-family: 'Inter';
}

textarea{
	background: transparent;
    color: white;
    border-radius: var(--RADIUS-03);
    border: 1px solid;
    border-color: var(--BORDER-COLOR_L0);
	margin-left: 25px;
	font-size: 16px;
	font-family: 'Inter';
	padding: 20px;
}
h2{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 60px;
	/* identical to box height, or 125% */
	letter-spacing: -1px;
}
.row{
	display :block;
	flex-basis: 0;
}
.rowInput{
	flex-grow: 2;
}
.rowLabel{
	flex-grow: 1;
}
.boxClass{
	margin: 50px;
	overflow-y: scroll;
	border-radius: var(--RADIUS-04);
	background: #202228;;
	color: #ffffff;
}
.transparent{
	background-color: transparent;
}
.imageDiv{
	padding: 30px;
	text-align: center;
}
.imglogo{
	max-height: 100px;
}
pre{
	line-height: 1.5;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: left;
	font-family: 'Inter';
	font-weight: 400;
	padding: 20px;
	border: 1px solid;
	border-radius: var(--RADIUS-03);
	border-color: var(--BORDER-COLOR_L0);
	background: transparent !important;
	/* overflow-x: scroll; */
	/* overflow-y: scroll; */
	white-space:pre-wrap;
	/* max-width: inherit;
    min-width: inherit;
	 */
}
@keyframes spin { 
    to {
        transform: rotate(359deg);
    }
}
@keyframes grow { 
    to {
        width: 14px;
        height: 14px;
        margin-top: -8px;
        right: 13px;
    }
}
.btn.loading {
    background-color: #CCC;
    padding-right: 40px;
}
.btn.loading:hover{
	cursor: default;
}
.btn.loading:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    right: 6px;
    top: 50%;
    width: 0px;
    height: 0px;
    margin-top: -2px;
    border: 2px solid rgba(255,255,255,0.5);
    border-left-color: #FFF;
    border-top-color: #FFF;
    animation: spin .6s infinite linear, grow .3s forwards ease-out;
}
@keyframes spin { 
    to {
        transform: rotate(359deg);
    }
}
@keyframes grow { 
    to {
        width: 14px;
        height: 14px;
        margin-top: -8px;
        right: 13px;
    }
}
.Input div{
	margin: 20px;
}




